<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title> SCS</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{{ url_for('static', filename='responsive.css') }}">
      <!-- fevicon -->
      <link rel="icon" href="{{ url_for('static', filename='images/logo.jpg') }}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.mCustomScrollbar.min.css') }}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="{{ url_for('static', filename='https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css') }}">
      <!-- owl stylesheets --> 
      <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css') }}" media="screen">
   </head>
   <body>
      <!--header section start -->
      <div class="header_section">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-3">
                  <div class="logo"><a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='images/logo.jpg') }}" ></a>
                  </div>
               </div>
               <div class="col-md-9">
                  <div class="menu_text">
                     <ul>
                        <div id="myNav" class="overlay">
                           <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                           <div class="overlay-content">
                              <a href="{{ url_for('index') }}">Home</a>
                              <a href="{{ url_for('blog') }}">Blog</a>
                              <a href="{{ url_for('about') }}">About</a>
                              <a href="{{ url_for('services') }}">Services</a>
                              <a href="{{ url_for('client') }}">Client</a>
                              <a href="{{ url_for('contact') }}">Contact Us</a>
                          </div>
                          
                        </div>
                        <span class="navbar-toggler-icon"></span>
                        <span onclick="openNav()"><img src="{{ url_for('static', filename='images/toogle-icon.png') }}" class="toggle_menu"></span>
                  </div>
                  </li>
                  </ul>
               </div>
            </div>
         </div>
         <!-- banner section start -->
         <div class="banner_section">
            <div class="container-fluid padding_0">
               <div id="my_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="padding_left_0">
                                 <h1 class="retailer_text">We Are Provide Professional Consulting</h1>
                                 <p class="search_text">It is a long established fact that a reader will be distracted by the readable content of a page </p>
                                 <div class="btn_main">
                                    <div class="more_bt"><a href="{{ url_for('readmore') }}">Read More </a></div>
                                    <div class="contact_bt"><a href="{{ url_for('quote') }}">Get A Quote</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div><img src="{{ url_for('static', filename='images/profile.jpg') }}" class="image_1"></div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="padding_left_0">
                                 <h1 class="retailer_text">We Are Provide Professional Consulting</h1>
                                 <p class="search_text">It is a long established fact that a reader will be distracted by the readable content of a page </p>
                                 <div class="btn_main">
                                    <div class="more_bt"><a href="#">Read More </a></div>
                                    <div class="contact_bt"><a href="#">Get A Quote</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div><img src="{{ url_for('static', filename='images/profile.jpg') }}" class="image_1"></div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="row">
                           <div class="col-md-6">
                              <div class="padding_left_0">
                                 <h1 class="retailer_text">We Are Provide Professional Consulting</h1>
                                 <p class="search_text">It is a long established fact that a reader will be distracted by the readable content of a page </p>
                                 <div class="btn_main">
                                    <div class="more_bt"><a href="#">Read More </a></div>
                                    <div class="contact_bt"><a href="#">Get A Quote</a></div>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div><img src="{{ url_for('static', filename='images/profile.jpg') }}" class="image_1"></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                  <i class="fa fa-left"><img src="{{ url_for('static', filename='images/left-arrow.png') }}"></i>
                  </a>
                  <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                  <i class="fa fa-right"><img src="{{ url_for('static', filename='images/right-arrow.png') }}"></i>
                  </a>
               </div>
            </div>
         </div>
         <!-- banner section end -->
      </div>
      <!-- header section end -->
      <div class="image_main">
         <div class="container-fluid">
            <div class="image_2">
               <div class="image_0">
                  <div><a href="#"><img src="{{ url_for('static', filename='images/play-icon.png') }}" class="play_icon"></a></div>
               </div>
               <h2 class="see_text">SEE <span style="color: #470005;">Consulting</span> VIDEOS</h2>
            </div>
         </div>
      </div>
      <div class="advisor_section">
         <div class="container">
            <h1 class="what_text">What We Do</h1>
         </div>
      </div>
      <div class="advisor_section_2 layout_padding">
         <div class="container">
            <div class="box_section">
               <div class="row">
                  <div class="col-lg-4 col-sm-12">
                     <div class="box_main">
                        <div class="image_3"></div>
                        <h4 class="consultative_text">GST Services</h4>
                        <p class="readable_text">Readable content of a page when looking at its layout. The point of It is a long established fact that a reader will be distracted by the readable</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                     <div class="box_main active">
                        <div class="image_4 active"></div>
                        <h4 class="consultative_text active">ITR File</h4>
                        <p class="readable_text active">Readable content of a page when looking at its layout. The point of It is a long established fact that a reader will be distracted by the readable</p>
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                     <div class="box_main">
                        <div class="image_5"></div>
                        <h4 class="consultative_text">BalanceSheet Maintance</h4>
                        <p class="readable_text">Readable content of a page when looking at its layout. The point of It is a long established fact that a reader will be distracted by the readable</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-6">
                  <div><img src="{{ url_for('static', filename='images/img-8.png') }}" class="image_8"></div>
               </div>
               <div class="col-sm-6">
                  <h1 class="about_taital">About Us</h1>
                  <p class="lorem_text">Welcome to Singh Consultancy , your trusted partner in navigating the complexities of financial management. With a seasoned team of experts specializing in GST, ITR, Balancesheet, and a spectrum of accounting and finance services, we blend precision with innovation to offer tailored solutions. Our unwavering commitment to client success fuels our approach, delivering personalized strategies, meticulous attention to detail, and proactive guidance. At [Your Consultancy Name], we strive to empower businesses and individuals alike, ensuring financial clarity, compliance, and sustainable growth.</p>
                  <div class="more_bt"><a href="{{ url_for('readabout') }}">Read More </a></div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section end -->
      <!-- portfolio section start -->
      <div class="portfolio_section layout_padding">
         <div class="container">
            <h1 class="what_text">Our Work Portfolio</h1>
         </div>
         <div class="container-fluid">
            <div class="images_section">
               <div class="row">
                  <div class="col-sm-4 padding_0">
                     <div class="container_1">
                        <img src="{{ url_for('static', filename='images/img-9.png') }}" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                           <div class="text"><img src="{{ url_for('static', filename='images/search-icon.png') }}"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4 padding_0">
                     <div class="container_1">
                        <img src="{{ url_for('static', filename='images/img-10.png') }}" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                           <div class="text"><img src="{{ url_for('static', filename='images/search-icon.png') }}"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4 padding_0">
                     <div class="container_1">
                        <img src="{{ url_for('static', filename='images/img-11.png') }}" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                           <div class="text"><img src="{{ url_for('static', filename='images/search-icon.png') }}"></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-4 padding_0">
                     <div class="container_1">
                        <img src="{{ url_for('static', filename='images/img-12.png') }}" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                           <div class="text"><img src="{{ url_for('static', filename='images/search-icon.png') }}"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4 padding_0">
                     <div class="container_1">
                        <img src="{{ url_for('static', filename='images/img-13.png') }}" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                           <div class="text"><img src="{{ url_for('static', filename='images/search-icon.png') }}"></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4 padding_0">
                     <div class="container_1">
                        <img src="{{ url_for('static', filename='images/img-14.png') }}" alt="Avatar" class="image" style="width:100%">
                        <div class="middle">
                           <div class="text"><img src="{{ url_for('static', filename='images/search-icon.png') }}"></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="portfolio_section_2 layout_padding">
            <div class="container">
               <h1 class="best_taital">We Are Providing
                  Best Business Service
               </h1>
               <p class="best_text">Empowering your success through tailored financial strategies and unparalleled expertise.</p>
               <div class="get_bt"><a href="{{ url_for('quote') }}">Get A Quote</a></div>
            </div>
         </div>
      </div>
      <!-- portfolio section end -->
      <!-- consulting section start -->
      <div class="consulting_section layout_padding">
         <div class="container">
            <h1 class="what_text">Why Our Consulting?</h1>
            <div class="consulting_section_2">
               <div class="row">
                  <div class="col-sm-6">
                     <p class="lorem_text_1">Our Consulting provides comprehensive services encompassing income tax return (ITR) filing, GST compliance, balance sheet management, and admission processes. With a team of seasoned professionals, we ensure accurate and timely ITR submissions, minimizing risks and maximizing refunds. Our expertise in GST compliance ensures seamless registration, return filing, and audits, keeping your business compliant with regulations. We offer meticulous analysis and management of balance sheets to optimize financial health and decision-making. Additionally, our personalized guidance throughout admission processes, from application to interview coaching, maximizes your chances of success. At Our Consulting, client satisfaction is paramount, and we deliver tailored solutions to meet your specific needs efficiently and professionally.</p>
                     <div class="more_bt"><a href="{{ url_for('readmore') }}">Read More </a></div>
                  </div>
                  <div class="col-sm-6">
                     <div class="image_8"><img src="{{ url_for('static', filename='images/img-15.png') }}"></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- consulting section end -->
      <!-- client section start -->
      <div class="client_section layout_padding">
         <div class="container">
            <h1 class="what_text">What Is Says Our Clients</h1>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="client_section_2 layout_padding">
                        <div class="row">
                           <div class="col-lg-4 col-sm-12">
                              <p class="ipsum_text">Singh Consultancy's balance sheet service was exceptional. Their meticulous analysis and expert management optimized my financial position. Their professionalism and personalized approach instilled confidence. I highly recommend them for comprehensive balance sheet management solutions. </p>
                              <div class="image_16"><img src="{{ url_for('static', filename='images/img-16.png') }}"></div>
                              <div class="adipiscing_text">Sanjeet Chandra <br>Siwan, Bihar</div>
                           </div>
                           <div class="col-lg-4 col-sm-12">
                              <p class="ipsum_text">Singh Consultancy facilitated my engineering admission seamlessly. Their guidance from application to interview coaching was invaluable. With their personalized support and expertise, I confidently secured my place. I highly recommend Singh Consultancy for anyone navigating the complex admission process.</p>
                              <div class="image_16"><img src="{{ url_for('static', filename='images/parvej.jpg') }}"></div>
                              <div class="adipiscing_text">Parvej Ansari <br>Siwan,Bihar</div>
                           </div>
                           <div class="col-lg-4 col-sm-12">
                              <p class="ipsum_text">My admission process was smooth sailing. Their personalized assistance and expert guidance made all the difference. From application to final acceptance, their support was invaluable. I'm grateful for their professionalism and highly recommend Singh Consultancy for hassle-free admissions.</p>
                              <div class="image_16"><img src="{{ url_for('static', filename='images/rahul-sharma.jpg') }}"></div>
                              <div class="adipiscing_text">Rahul Sharma <br>Siwan, Bihar</div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="client_section_2 layout_padding">
                        <div class="row">
                           <div class="col-lg-4 col-sm-12">
                              <p class="ipsum_text">Singh Consultancy made filing my Income Tax Returns a breeze. Their efficient service and attention to detail ensured everything was done accurately and on time. With their expert assistance, I had peace of mind knowing my taxes were in good hands. I highly recommend Singh Consultancy for stress-free tax filing. </p>
                              <div class="image_16"><img src="{{ url_for('static', filename='images/img-16.png') }}"></div>
                              <div class="adipiscing_text">Sumit Patel<br>Bettiah, Bihar</div>
                           </div>
                           <div class="col-lg-4 col-sm-12">
                              <p class="ipsum_text">Singh Consultancy delivered exceptional balance sheet services. Their meticulous analysis and tailored strategies optimized my financial standing. Their professionalism and personalized approach set them apart. I wholeheartedly recommend Singh Consultancy for comprehensive and reliable balance sheet management solutions. </p>
                              <div class="image_16"><img src="{{ url_for('static', filename='images/rahul-pal.jpg') }}"></div>
                              <div class="adipiscing_text">Rahul Pal<br>Bettiah, Bihar</div>
                           </div>
                           <div class="col-lg-4 col-sm-12">
                              <p class="ipsum_text"> They took the time to understand my financial goals and provided insightful recommendations tailored to my needs. Their team's expertise and dedication made the entire process seamless. I couldn't be happier with the results and highly recommend their services to anyone seeking financial guidance. </p>
                              <div class="image_16"><img src="{{ url_for('static', filename='images/ajay.jpg') }}"></div>
                              <div class="adipiscing_text">Ajay Sahni<br>Begusarai, Bihar</div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="client_section_2 layout_padding">
                        <div class="row">
                           <div class="col-lg-4 col-sm-12">
                              <p class="ipsum_text">Singh Consultancy's tax audit services are thorough and detail-oriented. Their expertise uncovers potential issues, ensuring compliance with regulations. With meticulous attention to detail, they provide comprehensive solutions, offering peace of mind during audits. Highly recommended for their professional and effective approach to tax compliance.</p>
                              <div class="image_16"><img src="{{ url_for('static', filename='images/img-16.png') }}"></div>
                              <div class="adipiscing_text">Chutun Gupta<br>Motihari, Bihar</div>
                           </div>
                           <div class="col-lg-4 col-sm-12">
                              <p class="ipsum_text">A professional internal audit conducted by an expert team yielded valuable insights, enhancing our financial processes significantly. Their thorough analysis identified areas for improvement, ensuring greater efficiency and compliance. Highly recommended for comprehensive and impactful financial services.</p>
                              <div class="image_16"><img src="{{ url_for('static', filename='images/img-17.png') }}"></div>
                              <div class="adipiscing_text">Bikash Bittu<br>Jehanabad, Bihar</div>
                           </div>
                           <div class="col-lg-4 col-sm-12">
                              <p class="ipsum_text">A reliable TDS return filing service ensures timely submissions and meticulous attention to detail. Their professional approach guarantees accuracy and compliance, instilling confidence in clients. Highly recommended for efficient handling of tax-related matters.</p>
                              <div class="image_16"><img src="{{ url_for('static', filename='images/awadhesh-yadav.jpg') }}"></div>
                              <div class="adipiscing_text">Awdhesh Yadav<br>Araria, Bihar</div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- client section end -->
      <!-- contact section start -->
      <div class="Contact_section layout_padding">
         <div class="container">
            <h1 class="categories_text">Rqueste a call back</h1>
            <p class="dummy_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered a</p>
            <div class="email_box">
               <div class="input_main">
                  <div class="container">
                     <form action="{{ url_for('thanks') }}" method="post">
                        <div class="form-group">
                           <input type="text" class="email-bt" placeholder="Name *" name="Name" required>
                        </div>
                        <div class="form-group">
                           <input type="number" class="email-bt" placeholder="Phone Number*" name="Phone Number"required>
                        </div>
                        <div class="form-group">
                           <input type="email" class="email-bt" placeholder="Email Address*" name="Email Address"required>
                        </div>
                        <div class="form-group">
                           <textarea class="massage-bt" placeholder="Massage*" rows="5" id="comment" name="Massage" required></textarea>
                        </div>
                        <div class="send_bt">
                        <button type="submit" class="sendt">SEND</button>
                     </div>
                     </form>
                  </div>
                  <!--<div class="send_bt"><a href="">SEND</a></div>-->
               </div>
            </div>
         </div>
      </div>
      <!-- contact section end -->
      <!-- footer section start -->
      <div class="footer_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h4 class="address_text">ADDRESS</h4>
                  <p class="simply_text">Nawada, Chainwa, Saran - 841287 (Bihar) </p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h4 class="address_text">QUICK LINKS</h4>
                  <div class="footer_menu_main">
                     <div class="footer_menu">
                        <ul>
                           <li><a href="{{ url_for('index') }}">Home</a></li>
                           <li><a href="{{ url_for('blog') }}">Blog</a></li>
                           <li><a href="{{ url_for('about') }}">About</a></li>
                           <li><a href="{{ url_for('services') }}">Services</a></li>
                           <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
                       </ul>
                       
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 col-sm-12">
                  <div class="newsletter_section">
                     <div class="newsletter_left">
                        <h4 class="address_text">Newsletter</h4>
                     </div>
                     <div class="newsletter_right">
                        <div class="social_icon">
                        
                              <ul>
                                 <li><a href="#"><img src="{{ url_for('static', filename='images/fb-icon.png') }}"></a></li>
                                 <li><a href="#"><img src="{{ url_for('static', filename='images/twitter-icon.png') }}"></a></li>
                                 <li><a href="#"><img src="{{ url_for('static', filename='images/instagram-icon.png') }}"></a></li>
                             </ul>
                             
                        </div>
                     </div>
                  </div>
                  <input type="text" class="mail_bt" placeholder="Enter Your Email" name="Enter Your Email">
                  <input type="text" class="mail_bt" placeholder="Phone" name="Phone">
                  <div class="subscribe_bt"><a href="#">Subscribe</a></div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
<p class="text-center text-md-end text-xl-start"> 
                All Rights Reserved
              </p>      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery-3.0.0.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
      <!-- sidebar -->
      <script src="{{ url_for('static', filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <!-- javascript --> 
      <script src="{{ url_for('static', filename='js/owl.carousel.js') }}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function(){
         $(".fancybox").fancybox({
         openEffect: "none",
         closeEffect: "none"
         });
              
         $(".zoom").hover(function(){
              
         $(this).addClass('transition');
         }, function(){
              
         $(this).removeClass('transition');
         });
         });
      </script> 
      <script>
         function openNav() {
         document.getElementById("myNav").style.width = "100%";
         }
         function closeNav() {
         document.getElementById("myNav").style.width = "0%";
         }
      </script>  
   </body>
</html>